spring:
  application:
    name: flight-search-service
  
  jackson:
    serialization:
      write-dates-as-timestamps: false
  
  datasource:
    url: jdbc:postgresql://localhost:5432/flight_search_db
    username: gyanprakash
    password: 
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  sql:
    init:
      mode: always
      continue-on-error: true
  
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000ms
    
    elasticsearch:
      repositories:
        enabled: true

  elasticsearch:
    uris: http://localhost:9200

server:
  port: 8081

logging:
  level:
    com.flightbooking: DEBUG
    org.springframework.data.elasticsearch: DEBUG
